body {
  font-style: 16px;
}
h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
  text-decoration: underline;
}
p {
  font-weight: 600;
  font-size: 3em;
}
.bgColor {
  background-color: burlywood;
}
li {
  line-height: 50px;
}
#amarelo {
  color: yellow;
}
#vermelho {
  color: red;
}
#marrom {
  color: brown;
}