div:hover {
  border: 1px solid black;
}

div:nth-of-type(1) {
  background-color: aliceblue;
}
div:nth-of-type(2) {
  background-color: aqua;
}
div:nth-of-type(3) {
  background-color: bisque;
  height: 100px;
}
div:nth-of-type(4) {
  background-color: cadetblue;
}
div:nth-of-type(5) {
  background-color: blue;
}

div:nth-of-type(1),
div {
  color: red;
  font-style: italic;
}
div:nth-of-type(2),
div {
  color: aliceblue;
}
div:nth-of-type(3),
div {
  color: brown;
  font-style: italic;

}
div:nth-of-type(4),
div {
  color: blueviolet;
}
div:nth-of-type(5),
div {
  font-style: italic;
  color: crimson;
}
